# ===== Python general =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.log
*.tmp
*.bak

# ===== Virtual Environment =====
venv/
.env/
.venv/
env/

# ===== Jupyter Notebooks =====
.ipynb_checkpoints/

*.ipynb_convert/

# ===== TensorFlow / Keras =====

# ===== Data folders =====
data/
datasets/
*.csv
*.npz
*.npy

# ===== System / IDE =====
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ===== Build / Dist =====
build/
dist/
*.egg-info/

# ===== Cache =====
.cache/
*.tensorboard-info/
